.wrapper .mat-drawer{
    width: 4em;
    padding-left: 22px;
    border: 0;
}
.inner-wrapper{
    padding: 20px 40px;
}


@media all and (max-width: 600px){
    .inner-wrapper{
        padding: 10px;
    } 
}